<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Playground</title>
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
    <meta name="description" content="An online code editor for the Go programming language.">
    <link rel="stylesheet" href="/static/style/style.css">

</head>

<body>
  <div class="header">
    <div class="title-container">  
      <h2>Go Playground</h2>
      <div class="dropdown">
        <button class="button-example button-1">Examples</button>
        <div class="dropdown-content" role="menu">
          <div role="menuitem" onclick="selectMenuItem(1)">Hello World!</div>
          <div role="menuitem" onclick="selectMenuItem(2)">Fibonacci</div>
          <div role="menuitem" onclick="selectMenuItem(3)">Bubble sort</div>
          <div role="menuitem" onclick="selectMenuItem(4)">Go routines</div>
          <div role="menuitem" onclick="selectMenuItem(5)">Matrix multiplication</div>
          <div style="width: 100%;border-bottom: 1px solid #a4abbd;"></div>
          <div role="menuitem" onclick="selectMenuItem(6)">Name and color</div>
          <div role="menuitem" onclick="selectMenuItem(7)">Conway's Game of Life</div>
          <div role="menuitem" onclick="selectMenuItem(8)">Progress bar</div>
        </div>
      </div></div>
  
    <div class="button-container">
     
      <button id="button-reset" class="button-1 button-reset" onclick="selectMenuItem()">Reset</button>
      <button id="button-format" class="button-1 button-reset" onclick="editorApp.saveCode()">{{"Format"}}<span class="shortcuts"> &nbsp;⌘+S</span></button>
      <button class="button-1 button-run" onclick="editorApp.runCode()">{{"Run"}}<span class="shortcuts"> &nbsp;⌘+↵</span></button>

    </div>
    
  </div>
  
  <div class="container">
 
    <label id="editor-label" style="display: none">Code Editor:</label>
    <div id="editor" aria-label="Code Editor" tabindex="0">package main

import "fmt"

func main() {
    fmt.Println("Hello, World!")
}</div>
    <div class="right-side">
      <div id="output" class="full-height"></div>
      <div id="input-section" class="no-height">
        <div class="texarea-wrapper">
          <textarea class="input-field"  type="text" placeholder="Enter input" id="console-input"> </textarea>
        </div>
      </div>
    </div>
   
  </div>
  </div>
  <div class="tutorial-overlay" id="tutorial-overlay">
  <div class="tutorial-modal centered" id="initial-modal">
    <div class="tutorial-content">
      <h3 class="tutorial-title">Welcome to Go Playground!</h3>
      <p class="tutorial-description">Would you like to take a tutorial to learn about the features?</p>
      <div class="tutorial-buttons">
        <button class="tutorial-button" id="never-show">Never show again</button>
        <button class="tutorial-button" id="start-tutorial">Start Tutorial</button>
      </div>
    </div>
  </div>
  <div class="tutorial-modal" id="tutorial-modal" style="display: none;">
    <div class="tutorial-content">
      <h3 class="tutorial-title"></h3>
      <p class="tutorial-description" id="tutorial-description"></p>
      <div class="tutorial-buttons">
        <button class="tutorial-button" id="tutorial-previous">Previous</button>
        <button class="tutorial-button" id="finish-tutorial">Finish Tutorial</button>
        <button class="tutorial-button" id="tutorial-next">Next</button>
      </div>
    </div>
  </div>
</div>

</body>

<script src="/static/js/ace.js"></script>
<script src="/static/js/theme-cobalt.js"></script>
<script src="/static/js/mode-golang.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/tutorial.js"></script>

</html>